
nz-footer
{
    line-height: 1.5;
}

nz-content
{
    padding: 10px;

    color: #fff;
    background-color: #108ee9;
    background-image: url('https://www.transparenttextures.com/patterns/checkered-light-emboss.png');
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    nz-card
    {
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

nz-layout:last-child
{
    margin: 0;
}

.ant-layout
{
    height: 100vh;
}
